* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
public/* linguist-vendored
public/css/* linguist-vendored
public/scss/* linguist-vendored
public/vendors/* linguist-vendored
node_modules/* linguist-vendored
